<html lang="en">
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <title>Sample Node.js Application</title>
    </head>
    <body>
    <span>Welcome user, this is Sample Node.js Application(-_-)</span>
    </body>
</html>
